body{
    margin:0px;
    padding:0px;
    font-family:'New Times Roman';

}
header{
    height:20vh;
    background-color:lightblue;
}
main{
    margin:0px;
    padding:0px;
    min-height: 70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    background-color: #f4f4f4;
    flex-direction: column;
}
footer{
    height:10vh;
    background-color: lightblue;
}
#gallery-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding:10px;
    background-color:lightblue;
    border: 2px double rgb(44, 178, 255);
    border-radius:10px;
}
#gallery-container img{
    border-radius:10px;
    transition: transform 0.15s ease;
    border:1px solid black;
    box-shadow: 0px 1px 5px 2px black;
    filter:grayscale(50%) contrast(80%) brightness(0.9);
}
#gallery-container img:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0px 2px 5px 5px rgb(0, 0, 0);
}
#gallery-container figure{
    margin:0px;
    padding:10px;
    text-align: center;
}
#gallery-container figcaption{
    margin-top:5px;
    font-size:0.9rem;
    font-style: italic;
}
#lightbox{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    transition: opacity 0.3s ease;
}
.hidden{
    visibility: hidden;
    opacity:0;
}
.visible{
    visibility:visible;
    opacity: 1;
}
.lightbox-content button{
    background-color: rgba(0,0,0,6);
    color:white;
    border:none;
    font-size:1.5rem;
    cursor: pointer;
    padding:0.5rem;
    margin:0 1rem;
    border-radius:50%;
}
.lightbox-content{
    display: flex;
    position: relative;
    align-items: center;
}
.lightbox-content button:active{
    background-color: rgb(48, 48, 48);

}

@media (max-width: 768px){
    #gallery-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 480px){
    #gallery-container{
        grid-template-columns:1fr;
    }
    #gallery-container img{
        max-width: 100%;
        height: auto;
    }
}
